<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="Username" autocomplete="off" />
        <input type="password" name="password" placeholder="Password" autocomplete="off" />
        <input type="submit" value="Login" />
    </form>
</body>

</html>